{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "requireConfigFile": false
    // Additional, per-project rules...
  }
}
